.navBox
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

img
{
    width: 5rem;
}

ul
{
    display: flex;
    justify-content: right;
    list-style: none;
    padding-right: 2rem;
}

ul li
{
    color: #fff;
    font-size: 1.3rem;
}